In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!pip install -U -q kaggle
!mkdir -p ~/.kaggle

In [91]:
!git clone https://github.com/yusuffjamal3/Reviews_Query.git

Cloning into 'Reviews_Query'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [0]:
!cp Reviews_Query/kaggle.json ~/.kaggle/

In [0]:
!kaggle datasets download -d snap/amazon-fine-food-reviews

In [0]:
!unzip /content/amazon-fine-food-reviews.zip

Archive:  /content/amazon-fine-food-reviews.zip
  inflating: Reviews.csv
  inflating: database.sqlite
  inflating: hashes.txt

In [0]:
import pandas as pd
import numpy
import sqlite3
conn = sqlite3.connect("database.sqlite")

df = pd.read_sql_query("""select UserId, ProductId, 
                          ProfileName, Time,
                          Score, Text, COUNT(*)
                          FROM reviews
                          WHERE Score != 3
                          GROUP BY UserId
                          HAVING COUNT(*) > 1""", conn)
df.head()

               UserId  ... COUNT(*)
0  #oc-R115TNMSPFT9I7  ...        2
1  #oc-R11D9D7SHXIJB9  ...        3
2  #oc-R11DNU2NBKQ23Z  ...        2
3  #oc-R11O5J5ZVQE25C  ...        3
4  #oc-R12KPBODL2B5ZD  ...        2

[5 rows x 7 columns]

In [50]:
df.sort_values('ProductId', inplace= True)
df.drop_duplicates(subset ="ProductId", 
                     keep = False, inplace = True)
df.head()

               UserId  ... COUNT(*)
53360  A3OI7ZGH6WZJ5G  ...        2
26134  A2BEAAU6N7K8GD  ...        2
19211  A1YVJENMZL29O7  ...        3
473     A10K7E9F0THV3  ...        4
41746  A33BL538BKBA0S  ...        2

[5 rows x 7 columns]

In [93]:
positive_reviews = df['Score'].value_counts()[5] + df['Score'].value_counts()[4]
negative_reviews = df['Score'].value_counts()[2] + df['Score'].value_counts()[1]

print("The number of positive reviews are " + str(positive_reviews), 'reviews')
print("The number of negative reviews are " + str(negative_reviews), 'reviews')
#df['Score'].value_counts().tolist()

The number of positive reviews are 9949 reviews
The number of negative reviews are 1844 reviews